.save-file-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px;
}

.save-file-container input {
  background-color: rgba(255, 255, 255, 0.911);
}

@media (min-width: 750px) {
  .save-file-container {
    margin-left: 40px;
    margin-right: 40px;
  }
}
