.progress-wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: #112439;
}

.progress-cover {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.5s;
}

.progress-loader {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid gray;
  border-top: 2px solid white;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
